/*
Theme Name: Bloom & Veg Child
Theme URI: https://www.bloomandveg.co.uk/
Description: Child theme for Shopkeeper.
Author: Bloom & Veg
Template: shopkeeper
Version: 0.1.0
Text Domain: bloomandveg-child
*/

/* Put custom CSS here (or enqueue a separate stylesheet in functions.php). */
